<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Club</title>
</head>
<body>

<h1>Welcome to the Club!</h1>

<h2>New member</h2>
<form method="POST">
    <ul>
        <li>
            Name:<input type="text" name="name" placeholder="John Appleseed" value="{{ .PendingUser.Name }}" />
            <div style="color:red">{{index .Errors "name"}}</div>
        </li>
        <li>
            Email:<input type="text" name="email" placeholder="john.appleseed@apple.com" value="{{ .PendingUser.Email }}" />
            <div style="color:red">{{index .Errors "email"}}</div>
        </li>
    </ul>
    </br>
    <div style="color:red">{{index .Errors "general"}}</div>
    </br>
    <input type="submit" id="add" value="Add" />
</form>
<form method="POST" action="/delete" name="xdel">
    <button type="delete" id="xbutton">Clear</button>
</form>


{{with .Users}}
    <h2>Members</h2>
        <table border="1">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Registration Date</th>
            </tr>
            {{range .}}
                <tr>
                    <td>{{.Number}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.RegistrationDate}}</td>
                </tr>
            {{end}}
        </table>

{{end}}

</body>
</html>