<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Club</title>
    <link rel="stylesheet" href="../public/main.css">

</head>
<body>

<h1>Welcome to the Club!</h1>

<form method="POST">
    <ul class="form-style-1">
        <li><label>New Member</label></li>
        <li><label>Name:<span class="required">*</span></label>
            <input type="text" name="name" class="field-long" placeholder="John Appleseed" value="{{ .PendingUser.Name }}"/>
            <div style="color:red">{{index .Errors "name"}}</div>
        <li>
            <label>Email:<span class="required">*</span></label>
            <input type="text" name="email" class="field-long" placeholder="john.appleseed@apple.com" value="{{ .PendingUser.Email }}"/>
            <div style="color:red">{{index .Errors "email"}}</div>
        </li>
        <li>
            <div style="color:red">{{index .Errors "general"}}</div>
            <span class="box"><input type="submit" value="Add" /></span>
        </li>
    </ul>
</form>


{{with .Users}}
    <h1>Members</h1>
    <form method="POST" action="/delete" name="xdel">
        <ul class="form-style-1">
            <li>
                <input type="submit" value="Clear Members" />
            </li>
        </ul>
    </form>

    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
            <tr>
                <td>{{.Number}}</td>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
                <td>{{.RegistrationDate}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
{{end}}


</body>
</html>